@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    width: 718px;
    height: 700px;
}
.content-container {
    position: relative;
    padding-bottom: 120px;
    height: calc(700px - 113px);
    overflow: scroll;
}

.active-steps {
    @apply bg-main;
}

.form-checkbox:checked {
    background-color: transparent;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container-bar {
    /*width: 600px;*/
}
/*.progressbar {*/
/*    counter-reset: step;*/
/*}*/
.progressbar li {
    list-style-type: none;
    width: 32%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    color: #505565;
}
.progressbar li:before {
    width: 20px;
    height: 20px;
    content: '';
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #a1a4b1;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #a1a4b1;
    top: 10px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #2c2c2c;
}
.progressbar li.active:before {
    /*border-color: #55b776;*/
    background-color: #008eff;
}
.progressbar li.active + li:after {
    /*background-color: #008eff;*/
}


.upload-button {
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 1rem;
}

#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
}

.footer {
    top: 640px;
    width: 718px;
}
