.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #a1a4b1;
}

.header-title {
  color: #2c2c2c;
  font-size: 29px !important;
}

.stepper {
  font-size: 10px !important;
}

.steps-title {
  font-size: 22px;
}
